<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.loginMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.bean.login" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="loginUserName" property="loginusername" jdbcType="VARCHAR" />
    <result column="loginPassword" property="loginpassword" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, loginUserName, loginPassword, userId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from login
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from login
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.bean.login" >
    insert into login (id, loginUserName, loginPassword, 
      userId)
    values (#{id,jdbcType=VARCHAR}, #{loginusername,jdbcType=VARCHAR}, #{loginpassword,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.bean.login" >
    insert into login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginusername != null" >
        loginUserName,
      </if>
      <if test="loginpassword != null" >
        loginPassword,
      </if>
      <if test="userid != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginusername != null" >
        #{loginusername,jdbcType=VARCHAR},
      </if>
      <if test="loginpassword != null" >
        #{loginpassword,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.bean.login" >
    update login
    <set >
      <if test="loginusername != null" >
        loginUserName = #{loginusername,jdbcType=VARCHAR},
      </if>
      <if test="loginpassword != null" >
        loginPassword = #{loginpassword,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.bean.login" >
    update login
    set loginUserName = #{loginusername,jdbcType=VARCHAR},
      loginPassword = #{loginpassword,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getLoginByUserName" resultType="com.example.demo.bean.login">
    select * from login where loginUsername = #{username}
  </select>

</mapper>